@media (min-width: 1400px) {

    .logo_slider .next {
        right: -28px;
    }

    .logo_slider .prev {
        left: -28px;
    }

    .banner_item .banner_text h2::before,
    .banner_item .banner_text h1::before,
    .banner_item .banner_text p::before {
        left: 40px;
    }
    .banner_item .banner_text h2::after,
    .banner_item .banner_text h1::after,
    .banner_item .banner_text p::after {
        right: 38px;
    }
    
    .banner_item .banner_text p {
        padding: 0 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  
    .logo_slider .next {
        right: 0;
    }

    .logo_slider .prev {
        left: 0;
    }
    .logo_slider .prev, .logo_slider .next {
        top: -20%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
      .main_menu ul li a {
	font-family: var(--wald);
	font-weight: 400;
	font-size: 14px;
	color: var(--hover);
	line-height: 50px;
	padding: 0 26px !important;
	position: relative;
}
    .class_body ul li {
        width: 19.58%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main_menu .navbar-brand {
        width: 200px;
    }

    .main_menu ul li a {
        font-size: 13px;
        padding: 0 5px !important;
    }

    .banner_item .banner_text h2::before,
    .banner_item .banner_text h1::before,
    .banner_item .banner_text p::before {
        left: 5px;
    }

    .banner_item .banner_text h2::after,
    .banner_item .banner_text h1::after,
    .banner_item .banner_text p::after {
        right: 5px;
    }
    .about_text p {
        text-align: justify;
        padding-bottom: 30px;
    }

    .about_text p span {
        margin-top: 15px;
    }

    .member_box h2 {
        padding: 15px 0;
        font-size: 14px;
    }

    .member_box .member_img {
        padding: 15px 0;
    }

    .member_box .member_img p {
        font-size: 35px;
    }

    .member_box .member_img p span {
        font-size: 22px;
    }

    .member_box ul {
        padding: 15px 0 15px;
    }

    .member_box ul li {
        padding: 5px 0;
    }

    .class_body ul li {
        width: 19.42%;
        padding: 20px 0;
    }

    .class_body ul li i {
        font-size: 35px;
    }

    .class_body ul li p {
        font-size: 12px;
    }

    .class_body ul li h6 {
        font-size: 12px;
    }

    #team {
        padding: 35px 0 0px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Menu part start */
    .main_menu {
        background: #e23e38;
        top: 0;
    }
.main_menu .navbar-brand img {
	transform: skewX(35deg);
	-webkit-transform: skewX(35deg);
	-moz-transform: skewX(35deg);
	-ms-transform: skewX(35deg);
	-o-transform: skewX(35deg);
	width: 194px;
	position: absolute;
	left: -12px;
	top: -44px;
}
    .main_menu .navbar-brand {
        width: 170px;
        height: 50px;
        line-height: 40px;
    }
#banner ul {
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	display: flex;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
    .main_menu button i {
        color: #fff;
    }

    .main_menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main_menu #navbarNav {
        background: #fff9f9;
        text-align: center;
        padding: 10px 0 0;
        border-top: 1px solid #fff;
        border:2px solid #000;
    }

    .main_menu ul li a::after {
        display: none;
    }

    .main_menu ul li a {
        line-height: 35px;
    }

    /* Menu part end */

    /* Banner part start */
    .banner_item {
        padding: 140px 0 80px;
    }

    .banner_item .banner_text h2::after,
    .banner_item .banner_text h2::before,
    .banner_item .banner_text h1::after,
    .banner_item .banner_text h1::before,
    .banner_item .banner_text p::after,
    .banner_item .banner_text p::before {
        display: none;
    }

    .banner_item .banner_text h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }

    .banner_item .banner_text h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .banner_item .banner_text p {
        padding: 0px 0px;
    }

    .banner_item .banner_text a {
        font-size: 14px;
        padding: 5px 14px;
        margin: 0 5px;
    }

    #banner ul li button {
        width: 10px;
        height: 10px;
    }

    #banner ul li {
        margin: 0 3px;
    }

    #banner ul .slick-active button {
        width: 14px;
        height: 14px;
    }

    /* Banner part end */

    /* About part start */
    #about {
        padding: 53px 0 14px;
    }

    .about_text p {
        padding: 0 0 30px 0;
        text-align: justify;
    }

    .about_text p span {
        margin-top: 12px;
    }

    /* About part end */

    /* Gallery part start */
    #gellary {
        padding: 40px 0 50px;
    }

    .gal_img:nth-child(2) {
        margin-bottom: 30px;
    }

    .gal_banner {
        padding: 30px 0 0;
    }

    /* Gallery part end */

    /* Team part start */
    .team_main {
        transform: translateY(-42px);
        -webkit-transform: translateY(-42px);
        -moz-transform: translateY(-42px);
        -ms-transform: translateY(-42px);
        -o-transform: translateY(-42px);
    }

    .team_main .team_img .overly {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .team_main .team_text {
        border: 1px solid #ddd;
    }

    .team_main .team_text p {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    #team {
        padding: 5px 0 0px;
    }

    /* Team part end */

    /* Testimonial part start */
    #testi {
        padding: 13px 0;
    }

    /* Testimonial part end */

    /* Membership part start */
    .member_box h2 {
        padding: 10px 0;
        font-size: 14px;
    }

    .member_box .member_img p {
        font-size: 35px;
    }

    .member_box .member_img p span {
        font-size: 22px;
    }

    .member_box .member_img {
        padding: 15px 0;
    }

    .member_box ul {
        padding: 10px 0 10px;
    }

    .member_box ul li {
        padding: 5px 0;
    }

    .member_box a {
        padding: 7px 0;
        font-size: 14px;
    }

    .member_box {
        margin-bottom: 24px;
    }

    #member {
        padding: 40px 0 25px;
    }

    /* Membership part end */

    /* Counter part start */
    .count_col .count_num h3 {
        font-size: 32px;
    }

    /* Counter part end */

    /* Classes part start */
    #our_classes {
        padding-top: 45px;
    }

    .class_manu li {
        width: 33.33333%;
        border-bottom: 1px solid #e23e38;
        height: 35px;
    }

    .class_manu li button {
        height: 35px;
    }

    .class_manu {
        height: auto;
    }

    .class_body ul li {
        width: 49.51%;
        padding: 20px 0;
    }

    .class_body ul li:nth-child(even) {
        margin-right: 0;
    }

    .class_body ul li:nth-child(5) {
        margin-right: 5px;
    }

    .class_body ul li h6 {
        font-size: 14px;
    }

    .class_body ul li p {
        font-size: 14px;
    }

    .class_body ul li i {
        font-size: 35px;
    }

    /* Classes part end */

    /* Client part start */
    #logos {
        padding: 44px 0;
    }

    .logo_part {
        background: #ddd;
        padding: 20px 10px;
    }

    /* Client part end */

    /* Footer part start */
    .footer_left_head h4,
    .footer_left2 h4,
    .footer_left3 h4,
    .footer_last h4 {
        padding: 60px 0 15px;
    }

    .footer_left3 h4,
    .footer_last h4 {
        padding-top: 30px;
    }

    .twett_2 {
        padding-top: 20px;
    }

    .footer_left3 ul li {
        width: 21.95%;
    }

    .footer_last-col {
        margin-bottom: 5px;
    }

    /* Footer part end */
}

@media (max-width: 575.98px) {
    .banner_item .banner_text .typed {
	font-family: 'Faster One', cursive;
	font-weight: 700;
	font-size: 35px;
	color: var(--hover);
	text-transform: uppercase;
	/*! margin-bottom: 18px; */
	position: relative;
	display: block;
}.banner_item .banner_text .type {
	font-weight: 400;
	font-size: 22px;
	color: var(--hover);
	text-transform: uppercase;
	/*! margin-bottom: 18px; */
	position: relative;
}
    #banner ul {
	position: absolute;
	left: 50%;
	bottom: 41px;
	transform: translateX(-50%);
	display: flex;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

    /* Menu part start */
    .main_menu {
        background: #e23e38;
        top: 0;
    }

    .main_menu .navbar-brand {
        width: 170px;
        height: 50px;
        line-height: 40px;
    }.main_menu .navbar-brand img {
	transform: skewX(35deg);
	-webkit-transform: skewX(35deg);
	-moz-transform: skewX(35deg);
	-ms-transform: skewX(35deg);
	-o-transform: skewX(35deg);
	width: 194px;
	position: absolute;
	left: -20px;
	top: -46px;
}

    .main_menu button i {
        color: #fff;
    }

    .main_menu .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }

    .main_menu #navbarNav {
        background: #e1fbff;
        text-align: center;
        padding: 10px 0 0;
        border-top: 1px solid #fff;
        border: 2px solid #000;
    }

    .main_menu ul li a::after {
        display: none;
    }

    .main_menu ul li a {
        line-height: 35px;
    }

    /* Menu part end */

    /* Banner part start */
    .banner_item {
        padding: 100px 0 70px;
    }

    .banner_item .banner_text h2::after,
    .banner_item .banner_text h2::before,
    .banner_item .banner_text h1::after,
    .banner_item .banner_text h1::before,
    .banner_item .banner_text p::after,
    .banner_item .banner_text p::before {
        display: none;
    }

    .banner_item .banner_text h2 {
        font-size: 22px;
        margin-bottom: 0;
    }

    .banner_item .banner_text h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .banner_item .banner_text p {
        padding: 0px 0px;
    }

    .banner_item .banner_text a {
        font-size: 14px;
        padding: 5px 14px;
        margin: 0 5px;
    }

    #banner ul li button {
        width: 10px;
        height: 10px;
    }

    #banner ul li {
        margin: 0 3px;
    }

    #banner ul .slick-active button {
        width: 14px;
        height: 14px;
    }.banner_item {
	position: relative;
	clip-path: polygon(20% 0%, 0 0, 0 38%, 0 97%, 23% 100%, 47% 97%, 75% 100%, 100% 97%, 100% 47%, 100% 0, 80% 0%, 55% 0);
}

    /* Banner part end */

    /* About part start */
    #about {
        padding: 43px 0 4px;
    }

    .about_text p {
        padding: 0 0 30px 0;
        text-align: justify;
    }

    .about_text p span {
        margin-top: 12px;
    }

    /* About part end */

    /* Gallery part start */
    .gal_img:nth-child(2) {
        margin-bottom: 30px;
    }

    .gal_banner {
        padding: 30px 0 0;
    }

    /* Gallery part end */

    /* Team part start */
    .team_main {
        transform: translateY(-42px);
        -webkit-transform: translateY(-42px);
        -moz-transform: translateY(-42px);
        -ms-transform: translateY(-42px);
        -o-transform: translateY(-42px);
    }

    .team_main .team_img .overly {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .team_main .team_text {
        border: 1px solid #ddd;
    }

    .team_main .team_text p {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    #team {
        padding: 5px 0 0px;
    }

    /* Team part end */

    /* Testimonial part start */
    #testi {
        padding: 3px 0;
    }

    /* Testimonial part end */

    /* Membership part start */
    .member_box h2 {
        padding: 10px 0;
        font-size: 14px;
    }

    .member_box .member_img p {
        font-size: 35px;
    }

    .member_box .member_img p span {
        font-size: 22px;
    }

    .member_box .member_img {
        padding: 15px 0;
    }

    .member_box ul {
        padding: 10px 0 10px;
    }

    .member_box ul li {
        padding: 44px 0;
    }

    .member_box a {
        padding: 7px 0;
        font-size: 14px;
    }

    .member_box {
        margin-bottom: 24px;
    }

    #member {
        padding: 40px 0 25px;
    }

    /* Membership part end */

    /* Counter part start */
    .count_col .count_num h3 {
        font-size: 24px;
    }

    /* Counter part end */

    /* Classes part start */
    #our_classes {
        padding-top: 45px;
    }

    .class_manu li {
        width: 33.33333%;
        border-bottom: 1px solid #e23e38;
        height: 35px;
    }

    .class_manu li button {
        height: 35px;
    }

    .class_manu {
        height: auto;
    }

    .class_body ul li {
        width: 49.16%;
        padding: 20px 0;
    }

    .class_body ul li:nth-child(even) {
        margin-right: 0;
    }

    .class_body ul li:nth-child(5) {
        margin-right: 5px;
    }

    .class_body ul li h6 {
        font-size: 12px;
    }

    .class_body ul li p {
        font-size: 12px;
    }

    .class_body ul li i {
        font-size: 30px;
    }

    /* Classes part end */

    /* Client part start */
    #logos {
        padding: 44px 0;
    }

    .logo_part {
        background: #ddd;
        padding: 20px 10px;
    }

    /* Client part end */

    /* Footer part start */
    .footer_left_head h4,
    .footer_left2 h4,
    .footer_left3 h4,
    .footer_last h4 {
        padding: 60px 0 15px;
    }

    .footer_left2 h4,
    .footer_left3 h4,
    .footer_last h4 {
        padding-top: 25px;
    }

    .twett_2 {
        padding-top: 20px;
    }

    .footer_left3 ul li {
        width: 22.47%;
    }

    .footer_last-col {
        margin-bottom: 5px;
    }

    /* Footer part end */
}


@media (min-width: 450px) and (max-width: 575.98px) {
    .class_body ul li {
        width: 49.41%;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) {
    .footer_left3 ul li {
        width: 23%;
    }
}