@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?731c26fe755ea5ec4e7db40aafc7df74") format("truetype"),
url("./flaticon.woff?731c26fe755ea5ec4e7db40aafc7df74") format("woff"),
url("./flaticon.woff2?731c26fe755ea5ec4e7db40aafc7df74") format("woff2"),
url("./flaticon.eot?731c26fe755ea5ec4e7db40aafc7df74#iefix") format("embedded-opentype"),
url("./flaticon.svg?731c26fe755ea5ec4e7db40aafc7df74#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-weightlifting:before {
    content: "\f101";
}
.flaticon-exercise:before {
    content: "\f102";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f103";
}
.flaticon-boxing-fighter:before {
    content: "\f104";
}
.flaticon-exercise-with-dumbbell:before {
    content: "\f105";
}
.flaticon-man-exercising-on-the-floor:before {
    content: "\f106";
}
.flaticon-pull-up:before {
    content: "\f107";
}
.flaticon-weightlifting-1:before {
    content: "\f108";
}
.flaticon-jumping-rope:before {
    content: "\f109";
}
.flaticon-stretching-silhouette:before {
    content: "\f10a";
}
.flaticon-yoga:before {
    content: "\f10b";
}
